{% extends "layout.html" %}
{% block main %}
<div class="mt-5">
    <div class="columns">
        <div class="column is-3"></div>
        <div class="column">
            <p class="mb-1">
                <b>Entry id: {{ row[3] }}</b>
            </p>
            <br />
            <form method="POST" action="/do_edit_post/{{ row[3] }}" onsubmit="return confirm('Save changes?')">
                <label>
                    Time
                    <input name="time" type="time" value="{{ row[0] }}" class="input">
                </label>
                <br />
                <label>
                    Date
                    <input name="date" type="text" value="{{ row[1].split(' ')[0] }}" class="input">
                </label>
                <br />
                <label>
                    District
                    <input type="number" name="district" value="{{ row[2] }}" class="input">
                </label>
                <br />
                <button type="submit" class="button is-info mt-2">Save</button>
            </form>
        </div>
        <div class="column is-3"></div>
    </div>
</div>
{% endblock %}